
/* Blog List */

#bloglist p {
  text-align:justify;
}

#bloglist li {
  font-family: "calluna",serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

/* Blog Post */

#blogpost p {
  text-align:justify;
}

