---
layout: default
title: Blog
---

<div id="bloglist">
{% for post in site.posts %}
	<div class="post">
	{% if post.dayone_preamble.pic_url %}    
	  <div class="background"><a href="{{ post.url }}"><img src="{{ post.dayone_preamble.pic_url }}" /></a></div>
	  <div class="title background-title"><a href="{{ post.url }}">{{ post.title }}</a>
	    <div class="date">{{ post.date | date_to_string }}</div>
	  </div>
	{% else %}
	  <div class="title"><a href="{{ post.url }}">{{ post.title }}</a>
	    <div class="date">{{ post.date | date_to_string }}</div>
	  </div>
	{% endif %}
	</div>
{% endfor %} 
</div> <!-- /container-narrow -->