{% if page.dayones.size > 0 %}
<div id="dayone_preamble" class="page">
  <div class="container">
    <div class="row-fluid">
      <div class="dayone_content">
        <h1>Day One Entries</h1>
      </div>
    </div>
  </div>
</div>

  {% if page.dayones.size > 0 %}
    {% assign rowCounter = "0" %}  
    {% assign alternator = false %}

    {% for dayone in page.dayones %}

      {% if rowCounter == "0" or dayone.pic_url %}
        {% assign rowCounter = 2 %}

        {% if forloop.index0 > 0 %}
      </div> <!-- .row -->
    </div> <!-- .container -->
  </div> <!-- .dayone -->
        {% endif %}

  <div class="dayone page">
    <div class="container">
      <div class="row-fluid">
        {% assign isNewRow = true %}
      {% else %}
        {% assign isNewRow = false %}
      {% endif %}

      {% if dayone.pic_url %}
        {% if alternator == true %}
        <div class="span6">
          <img src="{{ dayone.pic_url }}" />
        </div>
        {% endif %}

        <div id="{{dayone.uuid}}" class="span6">
          {% include dayone_content.html %}
        </div>

        {% if alternator == false %}
        <div class="span6">
          <img src="{{ dayone.pic_url }}" />
        </div>
        {% endif %}

        {% assign rowCounter = "0" %}

        {% if alternator == true %}
          {% assign alternator = false %}
        {% else %}
          {% assign alternator = true %}
        {% endif %}
      {% else %}
        {% if isNewRow == true and (forloop.last or page.dayones[forloop.index].pic_url) %}
        <div class="container-narrow">
        <div id="{{dayone.uuid}}" class="span12">
        {% else %}
        <div id="{{dayone.uuid}}" class="span6">
        {% endif %}
          {% include dayone_content.html %}
        </div>
        
        {% if isNewRow == true and (forloop.last or page.dayones[forloop.index].pic_url) %}
        </div> <!-- .container-narrow -->
        {% endif %}

        {% capture temp %}{{ rowCounter | minus: 1 }}{% endcapture %}
        {% assign rowCounter = temp %}
      {% endif %}

    {% endfor %}
    
      </div> <!-- /row-fluid -->
    </div> <!-- /container -->
  </div> <!-- /dayones -->
  {% endif %}

{% endif %}