{% if page.dayones.size > 0 %}
{% assign rowCounter = "0" %}
{% assign alternator = false %}

{% for dayone in page.dayones %}

{% if forloop.last %}
  {% assign flushThisRow = true %}
{% else %}
  {% if page.dayones[forloop.index].pic_url and page.dayones[forloop.index].entry_text != '' %}
    {% assign flushThisRow = true %}
  {% else %}
    {% if dayone.is_long_post == true or page.dayones[forloop.index].is_long_post == true %}
      {% assign flushThisRow = true %}
    {% else %}
      {% assign flushThisRow = false %}
    {% endif %}
  {% endif %}
{% endif %}

{% if dayone.pic_url %}
  {% assign hasPic = true %}
{% else %}
  {% assign hasPic = false %}
{% endif %}

{% if dayone.is_long_post == true %}
  {% assign isLongPost = true %}
{% else %}
  {% assign isLongPost = false %}
{% endif %}

{% if dayone.pic_is_panoramic == true %}
  {% assign isPanoramic = true %}
{% else %}
  {% assign isPanoramic = false %}
{% endif %}

{% if dayone.entry_text == '' and hasPic == true %}
  {% assign isPhotoOnlyPost = true %}
{% else %}
  {% assign isPhotoOnlyPost = false %}
{% endif %}

{% assign isNewRow = false %}

{% if rowCounter == "0" %}
  {% assign isNewRow = true %}
{% endif %}

{% if isNewRow == false and hasPic == true and isPhotoOnlyPost == false %}
  {% assign isNewRow = true %}
{% endif %}

{% if isNewRow == false and isPanoramic == true %}
  {% assign isNewRow = true %}
{% endif %}

{% if isNewRow == false and isLongPost == true %}
  {% assign isNewRow = true %}
{% endif %}

{% assign consumesRow = false %}
{% if isPanoramic == true or isLongPost == true %}
  {% assign consumesRow = true %}
{% endif %}

{% if hasPic == true and isPhotoOnlyPost == false %}
  {% assign consumesRow = true %}
{% endif %}

<!-- state: hasPic:{{ hasPic }} isLongPost: {{ isLongPost }} isNewRow: {{ isNewRow }} flushThisRow: {{ flushThisRow }} isPhotoOnlyPost: {{ isPhotoOnlyPost }}-->

{% if isNewRow == true %}
  {% assign rowCounter = 2 %}

  {% if forloop.index0 > 0 %}
      </div> <!-- .row -->
    </div> <!-- .container -->
  </div> <!-- .dayone -->
  {% endif %}

  {% if isPanoramic %}
  <div class="dayone page panoramicpage">
  {% else %}
  <div class="dayone page">
  {% endif %}
    <div class="container">
  {% if flushThisRow or consumesRow %}
      <div class="dayone_icon">{{ dayone.icon_html }}</div>
  {% endif %}
      <div class="row-fluid">
{% endif %}

{% if hasPic == true %}
  {% if isPhotoOnlyPost %}
    {% if isPanoramic %}
        </div> <!-- .row -->
      </div> <!-- .container -->
      <div id="dayone_{{dayone.uuid}}" class="photonly">
        <div class="photonly_picandcontent">
          <img src="{{ dayone.pic_url }}" />
          <div class="photonly_content">
            {% include dayone_content.html %}
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row-fluid">
    {% else %}
      {% if isNewRow == true and flushThisRow == true %}
      <div id="dayone_{{dayone.uuid}}" class="span12 photonly">
      {% else %}
      <div id="dayone_{{dayone.uuid}}"  class="span6 photonly">
        <div class="dayone_icon">{{ dayone.icon_html }}</div>
      {% endif %}

        <div class="photonly_picandcontent">
          <img src="{{ dayone.pic_url }}" />
          <div class="photonly_content">
            {% include dayone_content.html %}
          </div>
        </div>

      {% if isNewRow == true and flushThisRow == true %}
      </div>
      {% else %}
      </div>
      {% endif %}
    {% endif %}
  {% else %}
    {% if isLongPost == true or isPanoramic == true %}
          <div class="container-narrow">
            <div id="dayone_{{dayone.uuid}}" class="span12">
    {% else %}
      {% if alternator == true %}
          <div class="span7">
            <img src="{{ dayone.pic_url }}" />
          </div>
      {% endif %}
          <div id="dayone_{{dayone.uuid}}" class="span5">
    {% endif %}

            {% include dayone_content.html %}

    {% if isLongPost == true or isPanoramic == true %}
            </div> <!-- .span12 -->
          </div> <!-- .container-narrow -->  
      {% if isPanoramic == true %}
        </div> <!-- .row -->
      </div> <!-- .container -->
      {% endif %}
      {% if hasPic == true %}
          <div class="dayone_pic">
            <img src="{{ dayone.pic_url }}" />
          </div>
      {% endif %}
      {% if isPanoramic == true %}
      <div class="container">
        <div class="row-fluid">
      {% endif %}
    {% else %}
          </div> <!-- .span6 -->
      {% if alternator == false %}
          <div class="span7">
            <img src="{{ dayone.pic_url }}" />
          </div>
      {% endif %}
    {% endif %}
  {% endif %}

  {% if consumesRow == true %}
    {% assign rowCounter = "0" %}
  {% else %}
    {% capture temp %}{{ rowCounter | minus: 1 }}{% endcapture %}
    {% assign rowCounter = temp %}
  {% endif %}

  {% if alternator == true %}
    {% assign alternator = false %}
  {% else %}
    {% assign alternator = true %}
  {% endif %}
{% else %}
  {% if isNewRow == true and flushThisRow == true %}
        <div class="container-narrow">
          <div id="dayone_{{dayone.uuid}}" class="span12">
    {% assign rowCounter = "1" %}

  {% else %}
        <div id="dayone_{{dayone.uuid}}" class="span6">
          <div class="dayone_icon">{{ dayone.icon_html }}</div>
  {% endif %}

    {% include dayone_content.html %}
        </div>
  
  {% if isNewRow == true and flushThisRow == true %}
        </div> <!-- .container-narrow -->
  {% endif %}

  {% capture temp %}{{ rowCounter | minus: 1 }}{% endcapture %}
  {% assign rowCounter = temp %}
{% endif %}

{% endfor %}

    </div> <!-- /row-fluid -->
  </div> <!-- /container -->
</div> <!-- /dayones -->

{% endif %}