{% if page.dayones.size > 0 %}
<div id="dayone_toc" class="page">
  <div class="container">
    <div class="row-fluid">
      <div class="container-narrow">
        <div class="span12">
          <p style="text-align:center"><a href="/2013/12/07/dayone-blog-plugin">Learn how Day One powers this blog</a></p>
          <h1 class="toc_header">Day One Entries</h1>
<ul>
{% for dayone in page.dayones %}

<li>
  <div class="toc_row">
    <div class="toc_thumbnail">
      <a href="#{{ dayone.uuid}}">
        {{ dayone.thumb_html }}
      </a>
    </div>
    <div class="toc_content">
      <a href="#{{ dayone.uuid}}">{{ dayone.title_text}}</a>
      <div class="timestamp">{{ dayone|local_time_short }}</div>
    </div>
    <div class="clearfix"></div>
  </div>
  {% if forloop.last == false %}
  <div class="dots"></div>
  {% endif %}
</li>

{% endfor %}
</ul>

        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}