<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} {{ page.subtitle }} ~ featherless software design</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="{{ page.keywords }}">
    <meta name="author" content="Jeff Verkoeyen">

    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/css/portfolio.css" rel="stylesheet">
    <link href="/css/pygments.css" rel="stylesheet">
    <link href="/css/blog.css" rel="stylesheet">
    {% if page.extracssfile %}
    <link href="/css/{{ page.extracssfile }}" rel="stylesheet">
    {% endif %}

<!--
    <script type="text/javascript" src="//use.typekit.net/ybc6dhf.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
-->
    <script type="text/javascript">
  (function(d) {
    var config = {
      kitId: 'ybc6dhf',
      scriptTimeout: 5000
    },
    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(
/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement(
"script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";
tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadyst
atechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;
f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
  })(document);
</script>
    {% if page.customcss %}
    <style type="text/css">
      {{ page.customcss }}
    </style>
    {% endif %}
  </head>

  <body>

    <div class="container-narrow">

      <div class="masthead">
        <a href="http://jeffverkoeyen.com/"><h3 class="pull-right">featherless<br/>software design</h3></a>
        <ul class="nav nav-pills">
          <li><a href="http://jeffverkoeyen.com/portfolio">portfolio</a></li>
          <li class="active"><a href="http://blog.jeffverkoeyen.com">blog</a></li>
          <li><a href="http://jeffverkoeyen.com/contact">contact</a></li>
          <li><a href="http://jeffverkoeyen.com/about">about</a></li>
        </ul>
      </div>

    </div> <!-- /container-narrow -->
