---
layout: post
title: "Panama: Bocas del Toro"
tags:
- Panama
- Bocas del Toro
---

<div class="page narrow-top-space">
<p><img src="/gfx/bocas.jpg" /></p>
<div class="container-narrow">
<p>
  Two weeks in Panama City was quite enough, thank you! I've just arrived in Bocas del Toro after an
  overnight bus trip and am significantly happier with the situation here. Better weather, water
  nearby, friendly people, and having to get places by water taxi. I feel like I'm at Fisherman's
  Horizon (<a href="http://www.youtube.com/watch?v=ZLwtYlaqWaU">obligatory background music</a>).
</p>
<h3>Notes</h3>
<ul>
  <li><a href="#overnightbus">The Night Bus</a></li>
  <li><a href="#islacolon">Isla Colon Adventuring</a></li>
  <li><a href="#grankahuna">Gran Kahuna Hostel</a></li>
  <li><a href="#bahiadelsol">Bahia del Sol</a></li>
  <li><a href="#geomap">Geo Notes</a></li>
{% if page.dayones.size > 0 %}
  <li><a href="#dayone_toc">Day One Posts</a></li>
{% endif %}
</ul>
</div>
</div>

<div class="page">
  <div class="container">
    
    <div class="row-fluid">
      <div class="span6">
        <h1>Arrival</h1>
        <h2>Nov 6, 2013</h2>
        <h3><small>from</small> <a href="/2013/10/25/travel-panama-city/">Panama City, Panama</a></h3>
      </div>
      <div class="span6 opposite-align">
        <h1>Departure</h1>
        <h2>Nov 25, 2013</h2>
        <h3><small>to</small> <a href="/2013/11/27/travel-puerto-viejo/">Puerto Viejo, Costa Rica</a></h3>
      </div>
    </div>

  </div> <!-- /container -->
</div>

<div id="overnightbus" class="page lessons_green">
  <div class="container">
    
    <div class="row-fluid container-narrow">
      <div class="span12">
        <h1 style="text-align: center">The Night Bus</h1>
        <p>
          The bus from Panama City to Bocas was taxing. You board a bus from Albrook mall at 8PM
          sharp and then arrive in Bocas 10 hours later, your back sore and the sun peeking over
          the horizon.
        </p>
        <p>
          I made the rather dull decision when I boarded to keep my backpack with me on the bus. In
          my defence, I assumed that I'd be able to put the bag between my legs. Well, now I've
          learned what it's like to have 30 pounds on your lap for 10 hours.
        </p>
        <p>
          The bus drops everyone off in Almirante. From here you're shuffled into a nearby taxi who,
          I swear, was trying to go back to the future. Without the necessary jig-a-watts we
          merely arrived at the water taxis and paid our cabby $1 each (a common transaction in
          Bocas).
        </p>
        <p>
          Inside the water taxi terminal you hand the lady your passport and $5 and she lets you on
          to the sardine boat that makes its way to the isle of Bocas. I forgot to ask for an
          open-ended round-trip fare at $7, so I'll likely have to pay $5 to get back.
        </p>
      </div>
    </div> <!-- /row-fluid -->

  </div> <!-- /container -->
</div> <!-- /overnightbus -->

<div id="islacolon" class="page lessons_orange">
  <div class="container">
    
    <div class="row-fluid container-narrow">
      <div class="span12">
        <h1 style="text-align: center">Isla Colon Adventuring</h1>
      </div>
    </div> <!-- /row-fluid -->
    
    <div class="row-fluid">
      <div class="span5">
        <h1 style="text-align: center">ATVing</h1>
        <p>
          Beyond the city of Bocas on Isla Colon there is a massive expanse of jungle and sand
          beaches to explore, and explore we did. A buddy I met (Jim) and I rented a 4x4 from Flying
          Pirates for the day and shared it between us, making the cost $40.
        </p>
        <p>
          We picked up the 4x4 at about 10am and, after a quick training session at their warehouse,
          took off up the coast of Isla Colon. Riding the ATV was a blast. When maxed out it feels
          like you're flying along the road.
        </p>
        <p>
          Once we reached the jungle trail we had to slow down a bit because many of the trails
          had just recently been cleared. This part was a really fun challenge. With the ATV kicking
          and sliding we maneuvered through countless twists and turns through the jungle.
        </p>
        <p><a href="https://www.facebook.com/FlyingPiratesBocas"><img src="/gfx/flyingpirates.png" /> Flying Pirates</a></p>
      </div>
      
      <div class="span6 offset1">
        <h1 style="text-align: center">Surfing</h1>
        <p>
          As part of our ATV trip up the coast we wanted to find some solid breaks to go surfing on
          because the swell had just arrived at Bocas. I've surfed a few times but in every sense
          am a beginner, so I was sorely unprepared for what was to come.
        </p>
        <p>
          After ATVing up the coast we picked a spot that was being surfed already and unloaded the
          boards. It looked like there were quite a few rocks and reefs to get over before reaching
          the open water, so we decided to walk down a ways. The reef didn't seem to let up, so Jim
          led the charge and we headed straight out to the water.
        </p>
        <p>
          Well, Jim headed straight out to the water. I, not having much awareness, proceeded to
          step on a sea urchin. This shocked me enough to lift my foot out of the water just as a
          wave was rolling by my legs. I reached out my hands to stop my fall and found another sea
          urchin with the palm of my hand.
        </p>
        <p>
          As one final effort I jumped on my board to attempt to coast out to open water. Not used
          to such a small board, I jumped straight over it and proceeded to roll on the reef, making
          sure I had an even covering of urchins and reef cuts all over my body.
        </p>
        <p>
          I didn't get much surfing done that day, haha.
        </p>
      </div>
    </div> <!-- /row-fluid -->
    
    <div class="row-fluid container-narrow">
      <div class="span12">
        <p><img src="/gfx/atving.jpg" /></p>
      </div>
    </div> <!-- /row-fluid -->

  </div> <!-- /container -->
</div> <!-- /islacolon -->

<div id="grankahuna" class="page lessons_grey">
  <div class="container">
    
    <div class="row-fluid container-narrow">
      <div class="span12">
        <h1 style="text-align: center">Gran Kahuna Hostel</h1>
        <p>
          I spent about one week at the Gran Kahuna hostel on Isla Caranero and loved it for its
          tranquil escape from everything. It's a fairly big hostel with dorm beds, a bar, and food
          to order and the staff are wonderfully friendly.
        </p>
        <p>
          The sand flies on Isla Carenero, however, make the stay here somewhat frustrating. These
          tiny little flies (nicknamed "noseeums") will land on your skin, puke on you, and then
          leave a rash that itches for days. After a few days my legs were covered in marks making
          it increasingly uncomfortable to sit out at the bar or anywhere near the sand.
        </p>
      </div>
    </div> <!-- /row-fluid -->

  </div> <!-- /container -->
</div> <!-- /grankahuna -->

<div id="bahiadelsol" class="page lessons_grey">
  <div class="container">
    
    <div class="row-fluid">
      <div class="span6">
        <h1>Bahia del Sol<br /><small>Bed and Breakfast</small></h1>
        <p>
          What a surprise this was! From the moment I set foot in Bahia del Sol's ocean-view room
          I knew it was going to be an unforgettable stay.
        </p>
        <p>
          The first thing you notice when entering the ocean-front room is the enormous draped bed.
          From there your eyes sweep to the balcony complete with outdoor shower and jacuzzi, both
          adjacent to a hammock and reclining chairs for watching the sun set over the water. This
          place is right out of a romance novel.
        </p>
        <p>
          <img src="/gfx/bahiadelsol2.jpg" />
        </p>
      </div>
      <div class="span6">
        <p>
          <img src="/gfx/bahiadelsol1.jpg" />
        </p>
        <p>
          To top it off, the owners - Jack and Lee - are the most heart-warming people I've had the
          privilege of meeting thus far on my travels. They happily sat with us on the porch as
          the water lazily lapped against the docks and shot the breeze as they shared stories of
          lives-well-lived and curiously explored our own adventures.
        </p>
        <p>
          After sleeping in the next morning until noon, we were completely surprised to find that
          Jack had left portions of the morning breakfast aside for us! We were delighted to enjoy
          delicious eggs and sausage with slices of fresh fruit and tea. Jack's thoughtfulness was
          wonderfully appreciated after Laurence's long multi-day trek from Montreal.
        </p>
        <p>
          We left Bahia del Sol reluctantly, though relaxed and rejuvenated, and fully intend to
          return may our paths take us through Bocas del Toro again.
        </p>
        <p>
          <em>For booking Bahia del Sol I highly recommend doing so directly through their
          <a href="http://www.bocasbahiadelsol.com/">website</a> as it will allow Jack and Lee to
          contact you directly in the event of any changes to their bookings.</em> Photos are from
          <a href="http://www.bocasbahiadelsol.com/photos">Bahia del Sol's photo album</a>.
        </p>
      </div>
    </div> <!-- /row-fluid -->

  </div> <!-- /container -->
</div> <!-- /bahiadelsol -->

<div id="geomap" class="page">
  <div class="container">
    
    <div class="row-fluid">
      <div class="span4">
        <h1>Geo Notes</h1>
      </div>
      <div class="span8">
        <iframe class="geomap-frame" src="http://mapsengine.google.com/map/embed?mid=zMfxYk_GMjOw.kFLtfikD2gjg" width="100%" height="400px"> </iframe>
      </div>
    </div> <!-- /row-fluid -->

  </div> <!-- /container -->
</div> <!-- /geomap -->

{% include dayones.html %}

<div class="page">
  <div class="container">
    
    <div class="row-fluid">
      <div class="span6">
        <h1>Arrival</h1>
        <h2>Nov 6, 2013</h2>
        <h3><small>from</small> <a href="/2013/10/25/travel-panama-city/">Panama City, Panama</a></h3>
      </div>
      <div class="span6 opposite-align">
        <h1>Departure</h1>
        <h2>Nov 25, 2013</h2>
        <h3><small>to</small> <a href="/2013/11/27/travel-puerto-viejo/">Puerto Viejo, Costa Rica</a></h3>
      </div>
    </div>

  </div> <!-- /container -->
</div>
