---
layout: post
title: "Ecuador: Quito"
tags:
- Ecuador
- Quito
---

{% include dayone_preamble.html %}

<div class="page">
  <div class="container">
    
    <div class="row-fluid">
      <div class="span6">
        <h1>Arrival</h1>
        <h2>Jan 04, 2014</h2>
        <h3><small>from</small> <a href="/2013/12/31/travel-new-years/">Cartagena, Colombia</a></h3>
      </div>
      <div class="span6 opposite-align">
        <h1>Departure</h1>
        <h2>TBD</h2>
      </div>
    </div>

  </div> <!-- /container -->
</div>
{% include dayones.html %}

<div class="page">
  <div class="container">
    
    <div class="row-fluid">
      <div class="span6">
        <h1>Arrival</h1>
        <h2>Jan 04, 2014</h2>
        <h3><small>from</small> <a href="/2013/12/31/travel-new-years/">Cartagena, Colombia</a></h3>
      </div>
      <div class="span6 opposite-align">
        <h1>Departure</h1>
        <h2>TBD</h2>
      </div>
    </div>

  </div> <!-- /container -->
</div>
