---
layout: post
title: "Ecuador: Quito"
tags:
- Ecuador
- Quito
---

{% include dayone_preamble.html %}

{% if page.moneys.size > 0 %}
  <div id="moneysmap" class="page">
    <div id="moneysmapframe"></div>
  </div> <!-- /moneysmap -->
{% endif %}

<div class="page">
  <div class="container">
    
    <div class="row-fluid">
      <div class="span6">
        <h1>Arrival</h1>
        <h2>Jan 04, 2014</h2>
        <h3><small>from</small> <a href="/2013/12/31/travel-new-years/">Cartagena, Colombia</a></h3>
      </div>
      <div class="span6 opposite-align">
        <h1>Departure</h1>
        <h2>Jan 06, 2013</h2>
        <h3><small>to</small> <a href="/2014/01/06/travel-galapagos-santacruz/">Isla Santa Cruz, Galapagos Islands</a></h3>
      </div>
    </div>

  </div> <!-- /container -->
</div>
{% include dayones.html %}

<div class="page">
  <div class="container">
    
    <div class="row-fluid">
      <div class="span6">
        <h1>Arrival</h1>
        <h2>Jan 04, 2014</h2>
        <h3><small>from</small> <a href="/2013/12/31/travel-new-years/">Cartagena, Colombia</a></h3>
      </div>
      <div class="span6 opposite-align">
        <h1>Departure</h1>
        <h2>Jan 06, 2013</h2>
        <h3><small>to</small> <a href="/2014/01/06/travel-galapagos-santacruz/">Isla Santa Cruz, Galapagos Islands</a></h3>
      </div>
    </div>

  </div> <!-- /container -->
</div>

{% if page.moneys.size > 0 %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVisKNy7MfqmAq6BmF3FphlYkQmqJ_3Bw&amp;sensor=false"></script>

<script type="text/javascript">
var mapOptions = {
  mapTypeId: google.maps.MapTypeId.ROADMAP,
  scrollwheel: false
};

var map = new google.maps.Map(document.getElementById('moneysmapframe'), mapOptions);

var bounds = new google.maps.LatLngBounds();

var logs = [];

{% for log in page.moneys %}
  logs.push({
    lat:"{{ log.location.latitude }}",
    lng:"{{ log.location.longitude }}",
    title: "{{ log.title }}"
  });
{% endfor %}

var infowindow = new google.maps.InfoWindow();

for (var i = 0; i < logs.length; ++i) {
  var log = logs[i];
  
  var latlng = new google.maps.LatLng(log.lat, log.lng);
  var marker = new google.maps.Marker({
      position: latlng,
      map: map,
      title:log.title
  });

  google.maps.event.addListener(marker, 'click', (function(marker, log) {
    return function() {
      infowindow.setContent(log.title);
      infowindow.open(map, marker);
    }
  })(marker, log));

  bounds.extend(latlng);
}

map.fitBounds(bounds);
</script>

{% endif %}