---
layout: post
title: "Galapagos: Isla Isabella"
tags:
- Ecuador
- Galapagos Islands
- Isla Isabella
---

{% include dayone_preamble.html %}

<div class="page">
  <div class="container">
    
    <div class="row-fluid">
      <div class="span6">
        <h1>Arrival</h1>
        <h2>Jan 11, 2014</h2>
        <h3><small>from</small> <a href="/2014/01/06/travel-galapagos-santacruz/">Isla Santa Cruz, Galapagos</a></h3>
      </div>
      <div class="span6 opposite-align">
        <h1>Departure</h1>
        <h2>Jan 15, 2013</h2>
        <h3><small>to</small> <a href="/2014/01/15/travel-galapagos-sancristobal/">Isla San Cristobal, Galapagos</a></h3>
      </div>
    </div>

  </div> <!-- /container -->
</div>
{% include dayones.html %}

<div class="page">
  <div class="container">
    
    <div class="row-fluid">
      <div class="span6">
        <h1>Arrival</h1>
        <h2>Jan 11, 2014</h2>
        <h3><small>from</small> <a href="/2014/01/06/travel-galapagos-santacruz/">Isla Santa Cruz, Galapagos</a></h3>
      </div>
      <div class="span6 opposite-align">
        <h1>Departure</h1>
        <h2>Jan 15, 2013</h2>
        <h3><small>to</small> <a href="/2014/01/15/travel-galapagos-sancristobal/">Isla San Cristobal, Galapagos</a></h3>
      </div>
    </div>

  </div> <!-- /container -->
</div>
