---
layout: post
title: "Galapagos: Isla Santa Cruz"
tags:
- Ecuador
- Galapagos Islands
- Isla Santa Cruz
---

{% include dayone_preamble.html %}

<div class="page">
  <div class="container">
    
    <div class="row-fluid">
      <div class="span6">
        <h1>Arrival</h1>
        <h2>Jan 06, 2014</h2>
        <h3><small>from</small> <a href="/2014/01/04/travel-quito/">Quito, Ecuador</a></h3>
      </div>
      <div class="span6 opposite-align">
        <h1>Departure</h1>
        <h2>Jan 11, 2013</h2>
        <h3><small>to</small> <a href="/2014/01/11/travel-galapagos-isabella/">Isla Isabella, Galapagos</a></h3>
      </div>
    </div>

  </div> <!-- /container -->
</div>
{% include dayones.html %}

<div class="page">
  <div class="container">
    
    <div class="row-fluid">
      <div class="span6">
        <h1>Arrival</h1>
        <h2>Jan 06, 2014</h2>
        <h3><small>from</small> <a href="/2014/01/04/travel-quito/">Quito, Ecuador</a></h3>
      </div>
      <div class="span6 opposite-align">
        <h1>Departure</h1>
        <h2>Jan 11, 2013</h2>
        <h3><small>to</small> <a href="/2014/01/11/travel-galapagos-isabella/">Isla Isabella, Galapagos</a></h3>
      </div>
    </div>

  </div> <!-- /container -->
</div>
